body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

button {
  border: 5px;
  border-radius: 5px;
  border-color: crimson;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

#submit-task {
  background-color: rgb(20, 219, 2);
}

/* .modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
} */

/* .myModal {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  width: 500px;
  max-width: 100%;
  padding: 30px 40px;
  text-align: center;
  opacity: 1;
  border-radius: 5px;
}

.myModal.show {
  pointer-events: auto;
  opacity: 1;
} */
